$text-blue: #3657CB;
$text-white: #fff;
$text-black: #000;
$text-gray: #FFFFFF69;
$text-yellow: #F2F60F;
$text-dark-blue-200: hsl(224, 29%, 33%);

$bg-white: #fff;
$bg-blue: #3657CB;
$bg-green: #89CB36;
$bg-yellow: #F2F60F;
$bg-dark-blue: #1E2538;
$bg-dark-blue-100: #1B2133;
$bg-dark-blue-200: #151A26;

$shadow: #3657CBA6;

$button-primary-shadow: 0 0 15px 0 #4871FFCC;